<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>

<body>
    <div id="title">
        <h1>To Do List</h1>
    </div>
    <div id="container">
        <input type="text" v-model="newTask.text" placeholder="inserisci nuovo task">
        <button id="bottone" @click="aggiungiTask()">aggiungi impegno</button>

        <ul>
            <li v-for="task, i in tasks" :class="task.done ? `done` : `` " :key="i">
                {{task.text}}
                <span @click="removeItem(i)">&#8853;</span>
            </li>

        </ul>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>